 
/****************/   
/*    Logo      */
/****************/
#logo {
    width: 15%;
    margin:1% 80% 1% 1%;
    position:absolute;
} 

#logo img {
    width: 100%;
}   

/****************/   
/*  Page Title  */
/****************/
 
#title{
    text-align: center;
    margin:6% 25% 2% 25%;
    padding:1% 1% 1% 1%;
    width: 50%;
}   
 
/***************************/
/*    Navigation Menu      */
/***************************/

.menu {
    width: 100%;
    display:flex;
    justify-content: center;
    overflow: hidden;
    background-color: #181617;
}

.menu a {

    color:#948470;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Cinzel', serif;
}

.menu a:hover {
    background-color:#2b2b2b;
    transition: 0.5s;
    color:#948470;
}

.menu a:active {
    background-color: #181617;
  }

body {
    margin:0px;
    border: thick double #181617;
    background-color: #948470;
    
}

a[href] {
    text-decoration: none;
}

form{
    color: #181617;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    text-align: left;
    margin: 2% 20% 0% 20%;
    border-radius: 30px;
    color: #181617;
}

.legend {
    font-size: 35px;
}

.fieldset {
    border: thick double #d0a16d;
    border-radius: 30px;
}

/* Creating a custom checkbox */
input[type=checkbox] {
    background-color: #d0a16d;
    accent-color: #d0a16d;
    width: 30px;
    height: 30px;
  }

/* Creating a custom submit button*/