/****************/
/*  Page Title  */
/****************/

#title {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

#login {
    border: thick double #d0a16d;
    border-radius: 30px;
    padding: 20px;
    margin-top: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#usernametitle, #passwordtitle {
    color: #181617;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    text-align: left;
    color: #181617;
}

#username, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitbutton{
    border-radius:20px;
    margin:5% 0% 5% 0%;
    padding: 1% 1%;
    cursor: url('../Images/bcursor.cur'), auto;
    width: 100%;
    display: block;
    border: 1mm outset #d29e6f;
    background-color: #181617;
    box-shadow: 0 7px #2b2b2b;
    
    color:#d29e6f;
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px 2px #917863;
    font-family: 'Cinzel', serif;
}

#submitbutton:hover {
    background-color:#948470;
    transition: 0.5s;
    color:#181617;
}

#submitbutton:active {
    background-color: #2b2b2b;
    box-shadow: 0 5px #181617;
    transform: translateY(5px);
  }

#createaccount {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    color: #181617;
    margin:0% 0% 55% 0%;
}

a {
    color: #d29e6f;
}

.error {
    color: #963838;
    font-weight: bold;
    text-align: center;
    font-family: 'Cinzel', serif;
    border: thick double #963838;
    border-radius: 30px;
    margin:0% 0% 2% 0%;
}

  
  .error li {
    list-style-type: none;
  }

body {
    margin: 0;
    padding: 0;
    border: thick double #181617;
    background-color: #948470;
}