 /****************/
 /*    Logo      */
 /****************/
 #logo {
     width: 15%;
     margin: 1% 80% 1% 1%;
     position: absolute;
 }

 #logo img {
     width: 100%;
 }

 /****************/
 /*  Page Title  */
 /****************/

 #title {
     text-align: center;
     margin: 6% 25% 2% 25%;
     padding: 1% 1% 1% 1%;
     width: 50%;
 }

 /***************************/
 /*    Navigation Menu      */
 /***************************/

 .menu {
     width: 100%;
     display: flex;
     justify-content: center;
     overflow: hidden;
     background-color: #181617;
 }

 .menu a {
     float: left;
     color: #948470;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 13px;
     font-family: 'Cinzel', serif;
 }

 .menu a:hover {
     background-color: #2b2b2b;
     transition: 0.5s;
     color: #948470;
 }

 .menu a:active {
     background-color: #181617;
 }

 /*********************/
 /*  Menu PDF Viewer  */
 /*********************/

 #menupdfviewer {
     text-align: center;
     padding-right: 3px;
     margin: 2% 5% 2% 5%;
     border: 4mm ridge #d29e6f;
 }

 /*********************/
 /*  Upload Menu PDF  */
 /*********************/
 #uploadmenu {
     text-align: center;
     font-size: 16px;
     font-family: 'Cinzel', serif;
 }

 #uploadmenu input {
     margin: 0 auto;
     cursor: pointer;
     border: 1mm solid #181617;
     background-color: white;
 }

 #uploadmenu button {
     border-radius: 20px;
     cursor: pointer;
     margin: 5px 0px 20px 0px;
     width: 200px;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
 }

 /*********************/
 /*  OOS Menu Items   */
 /*********************/

#enteritems {
    border: double 1mm #181617;
    color: #181617;
    width:40%;
}

 #oositemslist {
    list-style: none;
    margin: 0% 30% 5% 30%;
    padding: 0% 0% 0% 0%;
    border: 4mm ridge #d29e6f; 
     background: #d29e6f;
     font-size: 18px;

     font-family: 'Cinzel', serif;
     transition: 0.2s;


     /* make the list items unselectable */
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 ul li:nth-child(odd) {
     background: #cfad8f;
 }

 ul li:hover {
     background: rgb(255, 255, 255);
 }

 ul li{
    padding: 2% 0% 2% 2%;
}

 .close {
    cursor: pointer;
    padding: 0% 2% 0% 2%;
    transform: translate(0%, -50%);
    border: solid 4px;
  }

  .close:hover {
    background: rgb(255, 0, 0);
    cursor: pointer;
}

  .item {
    padding: 0% 0% 0% 4%;

  }

 #oositems {
    border: 4mm ridge #d29e6f; 
    background-color: #d29e6f;
    margin: 2% 30% 0% 30%;

    color: #181617;
    text-align: center;
    font-size: 13px;
     font-family: 'Cinzel', serif;
 }

 .oosheaderinput {
     margin: 0;
     border: solid;
     border-radius: 1px;
     width: 75%;
     padding: 10px;
     font-size: 16px;
 }

 #oosaddbutton {
     border-radius: 20px;

     margin: 5px 0px 20px 0px;
     width: 100px;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
 }

 #oosaddbutton:hover {
    background-color:#2b2b2b;
    transition: 0.5s;
    color:#d29e6f;
    cursor: pointer;
 }


 body {
     margin: 0px;
     border: thick double #181617;
     background-color: #948470;
 }

 a[href] {
     text-decoration: none;
 }