 /****************/
 /*    Logo      */
 /****************/
 #logo {
     width: 15%;
     margin: 1% 80% 1% 1%;
     position: absolute;
 }

 #logo img {
     width: 100%;
 }

 /****************/
 /*  Page Title  */
 /****************/

 #title {
     text-align: center;
     margin: 6% 25% 2% 25%;
     padding: 1% 1% 1% 1%;
     width: 50%;
 }

 /*********************/
 /*  Menu Viewer  */
 /*********************/

 #wholemenuviewer {
    border: thick double #d0a16d;
    border-radius: 30px;
    border-width: 15px;
    margin: 3% 5% 0% 5%;
 }

 #menu_viewer_header {
    text-align: center;
    font-size: 20px;
    font-family: 'Cinzel', serif;
  }

 #menuviewer {
    text-align: center;
    padding-right: 3px;
    margin: 0% 5% 2% 5%;
    border: thick double #d0a16d;
    border-radius: 30px;
    border-width: 15px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  #menuviewer img {
    max-width: 100%;
    max-height: 100%;
  }
  

 /*********************/
 /*    Upload Menu   */
 /*********************/
  
 #uploadmenu {
     text-align: center;
     font-size: 16px;
     font-family: 'Cinzel', serif;
 }

 .error {
    text-align: center;
    color: #963838;
    font-weight: bold;
    border: thick double #963838;
    width: 80%;
    margin: 1% 10% 1% 10%;
  }

 #uploadmenu input {
     margin: 0 auto;
     cursor: pointer;
     border: thick double #d0a16d;
     background-color: white;
 }

 #uploadmenu button {
     border-radius: 20px;
     cursor: pointer;
     margin: 5px 0px 20px 0px;
     width: 200px;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
 }
 
 #deletemenu {
    text-align: center;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}

 #deletemenu button {
    border-radius: 20px;
    cursor: pointer;
    margin: 5px 0px 20px 0px;
    width: 200px;

    border: 1mm outset #d29e6f;
    background-color: #181617;
    box-shadow: 0 7px #2b2b2b;

    color: #d29e6f;

    text-shadow: 1px 1px 2px #917863;
    font-family: 'Cinzel', serif;
}

 /*********************/
 /*  OOS Menu Items   */
 /*********************/

 #oos_viewer_header {
    text-align: center;
    font-size: 20px;
    font-family: 'Cinzel', serif;
  }

 #enteritems {
    border: thick double #d0a16d;
     color: #181617;
     width: 40%;
 }

 #oositemslist {
     list-style: none;
     margin: 0% 25% 20% 25%;
     width:50%;
     padding: 0% 0% 0% 0%;
     border: thick double #d0a16d;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
    border-width: 15px;
     background: #d29e6f;
     font-size: 16px;
     font-family: 'Cinzel', serif;
     transition: 0.2s;
 }

 ul li:nth-child(odd) {
     background: #cfad8f;
 }

 li {
     padding: 2% 0% 2% 2%;
     display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #delete_item_button {
     cursor: pointer;
     border-radius: 20px;     
     width: 100%;
     border: 1mm outset #d29e6f;
     background-color: #181617;
     color: #d29e6f;
     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
     margin-left: -2px;

 }

 #delete_item_button:hover {
     background: #963838;
     cursor: pointer;
 }


 #oositems {
    border: thick double #d0a16d;
    border-top-right-radius: 30px;
     border-top-left-radius: 30px;
    border-width: 15px;
     margin: 5% 25% 0% 25%;
     width: 50%;
     color: #181617;
     text-align: center;
     font-size: 13px;
     font-family: 'Cinzel', serif;
 }

 .oosheaderinput {
     margin: 0;
     border: solid;
     border-radius: 1px;
     width: 75%;
     padding: 10px;
     font-size: 16px;
 }

 #oosaddbutton {
     border-radius: 20px;

     margin: 5px 0px 20px 0px;
     width: 100px;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
 }

 #oosaddbutton:hover {
     background-color: #2b2b2b;
     transition: 0.5s;
     color: #d29e6f;
     cursor: pointer;
 }

 /*********************/
 /*       Misc.       */
 /*********************/

 body {
     margin: 0px;
     border: thick double #181617;
     background-color: #948470;
 }

 a[href] {
     text-decoration: none;
 }