 /****************/
 /*    Logo      */
 /****************/
 #logo {
   width: 15%;
   margin: 1% 80% 1% 1%;
   position: absolute;
 }

 #logo img {
   width: 100%;
 }

 /****************/
 /*  Page Title  */
 /****************/

 #title {
   text-align: center;
   margin: 6% 25% 2% 25%;
   padding: 1% 1% 1% 1%;
   width: 50%;
 }

 /***************************/
 /*    Photos Viewer        */
 /***************************/

 #photosViewer {

   padding: 40px;
   padding-top: 0%;
   background-color: #948470;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .photoTile {
   width: 23%;
   /* 4 tiles at 23% each plus some margin */
   border: thick double #d0a16d;
   border-width: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1%;
   text-align: center;
 }

 .photoTile img {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
 }

 #deletePhoto{
  border-radius: 20px;
   cursor: pointer;
   width:100%;
   margin-top: 10px;
   margin-bottom: 20px;

   border: 1mm outset #d29e6f;
   background-color: #181617;
   box-shadow: 0 7px #2b2b2b;

   color: #d29e6f;

   text-shadow: 1px 1px 2px #917863;
   font-family: 'Cinzel', serif;
 }


 /***************************/
 /*      Upload Photos       */
 /****************************/
 #wholePhotoForm{
  font-family: 'Cinzel', serif;
 }

 #uploadPhotoForm {
   text-align: center;
   margin: 5% 15% 1% 15%;
   border: thick double #d0a16d;
    border-radius: 30px;
    border-width: 15px;
 }

 #uploadPhotoFormHeading {
   font-family: 'Cinzel', serif;
 }

 .error {
  text-align: center;
  color: #963838;
  font-weight: bold;
  border: thick double #963838;
  margin: 0% 15% 2% 15%;
}

 #selectPhotos {
   text-align: center;
   font-size: 16px;
   margin: 0% 0% 0% 0%;
   width: 65%;
   border: double #181617;
   font-family: 'Cinzel', serif;
   background-color: white;
 }

 #selectPhotos input {
   cursor: pointer;
 }

 #uploadPhotoButton {
   border-radius: 20px;
   cursor: pointer;
   margin: 4% 35% 4% 35%;
   width: 30%;

   border: 1mm outset #d29e6f;
   background-color: #181617;
   box-shadow: 0 7px #2b2b2b;

   color: #d29e6f;

   text-shadow: 1px 1px 2px #917863;
   font-family: 'Cinzel', serif;
 }

 body {
   margin: 0px;
   border: thick double #181617;
   background-color: #948470;
 }

 a[href] {
   text-decoration: none;
 }