 
/****************/   
/*    Logo      */
/****************/
#logo {
    width: 15%;
    margin:1% 80% 1% 1%;
    position:absolute;
} 

#logo img {
    width: 100%;
}   

/****************/   
/*  Page Title  */
/****************/
 
#title{
    text-align: center;
    margin:6% 25% 2% 25%;
    padding:1% 1% 1% 1%;
    width: 50%;
}   
 
/***************************/
/*    Navigation Menu      */
/***************************/

.menu {
    width: 100%;
    display:flex;
    justify-content: center;
    overflow: hidden;
    background-color: #181617;
}

.menu a {

    color:#948470;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Cinzel', serif;
}

.menu a:hover {
    background-color:#2b2b2b;
    transition: 0.5s;
    color:#948470;
}

.menu a:active {
    background-color: #181617;
  }

/***************************/
/*    Upload Recipe        */
/***************************/

.uploadRecipeForm {
    text-align: center;
    margin: 5% 10% 5% 10%;
    border: 4mm ridge #d29e6f;
}

#recipeName {
    width: 25%;
    margin: 5% 0% 1% 0%;
    font-family: 'Cinzel', serif;
    text-align: center;
    border: double #181617;
}

#ingredients {
    width: 55%;
    margin: 1% 0% 1% 0%;
    font-family: 'Cinzel', serif;
    text-align: center;
    border: double #181617;
}

#instructions {
    width: 55%;
    margin: 1% 0% 1% 0%;
    font-family: 'Cinzel', serif;
    text-align: center;
    border: double #181617;
}

#uploadRecipeButton {
    border-radius: 20px;
     cursor: pointer;
     margin: 5px 0px 20px 0px;
     width: 25%;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
}

/***************************/
/*    Recipe Search        */
/***************************/

#catSearch {
    text-align: center;
    font-family: 'Cinzel', serif;
    margin: 5% 0% 2% 0%;
}

#nameSearch {
    text-align: center;
    font-family: 'Cinzel', serif;
    margin: 0% 0% 0% 0%;
}

#searchByCategory {
    text-align: center;
    border: double #181617;
}

#searchByName {
    text-align: center;
    border: double #181617;
}

#catSearchButton {
    border-radius: 20px;
     cursor: pointer;
     margin: 0% 0% 0% 0%;
     width: 10%;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
}

#nameSearchButton {
    border-radius: 20px;
     cursor: pointer;
     margin: 0% 0% 0% 0%;
     width: 10%;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
}

/***************************/
/*    Recipe Viewer        */
/***************************/

#recipeViewer{
    text-align: left;
    border: 4mm ridge #d29e6f;
    margin: 2% 10% 0% 10%;
    font-family: 'Cinzel', serif;
}
th{
    border: 1px solid #d29e6f ;
    width: 10%;
    font-size: larger;
}

td{
    border: 1px solid #d29e6f ;
    width: 90%;
}

#deleteRecipe {
    text-align: center;
}

#deleteRecipeButton {
    border-radius: 20px;
     cursor: pointer;
     margin: 5px 0px 20px 0px;
     width: 20%;

     border: 1mm outset #d29e6f;
     background-color: #181617;
     box-shadow: 0 7px #2b2b2b;

     color: #d29e6f;

     text-shadow: 1px 1px 2px #917863;
     font-family: 'Cinzel', serif;
}

body {
    margin:0px;
    border: thick double #181617;
    background-color: #948470;
}

a[href] {
    text-decoration: none;
}



