 /****************/
 /*    Logo      */
 /****************/
 #logo {
   width: 15%;
   margin: 1% 80% 1% 1%;
   position: absolute;
 }

 #logo img {
   width: 100%;
 }

 /****************/
 /*  Page Title  */
 /****************/

 #title {
   text-align: center;
   margin: 6% 25% 2% 25%;
   padding: 1% 1% 1% 1%;
   width: 50%;
 }

 /*********************/
 /*  Menu Viewer  */
 /*********************/
 #schedule_viewer_header {
  text-align: center;
  font-size: 25px;
  font-family: 'Cinzel', serif;
}

#scheduleviewer {
  text-align: center;
  padding-right: 3px;
  margin: 0% 5% 2% 5%;
  border: thick double #d0a16d;
  border-radius: 30px;
  border-width: 15px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

#scheduleviewer img {
  max-width: 100%;
  max-height: 100%;
}


/*********************/
/*  Upload Menu PDF  */
/*********************/



#uploadschedule {
   text-align: center;
   font-size: 16px;
   font-family: 'Cinzel', serif;
}

#uploadschedule input {
   margin: 0 auto;
   cursor: pointer;
   border: thick double #d0a16d;
   background-color: white;
}

#uploadschedule button {
   border-radius: 20px;
   cursor: pointer;
   margin: 5px 0px 20px 0px;
   width: 200px;

   border: 1mm outset #d29e6f;
   background-color: #181617;
   box-shadow: 0 7px #2b2b2b;

   color: #d29e6f;

   text-shadow: 1px 1px 2px #917863;
   font-family: 'Cinzel', serif;
}

#deleteschedule {
  text-align: center;
  font-size: 16px;
  font-family: 'Cinzel', serif;
}

#deleteschedule button {
  border-radius: 20px;
  cursor: pointer;
  margin: 5px 0px 20px 0px;
  width: 200px;

  border: 1mm outset #d29e6f;
  background-color: #181617;
  box-shadow: 0 7px #2b2b2b;

  color: #d29e6f;

  text-shadow: 1px 1px 2px #917863;
  font-family: 'Cinzel', serif;
}

 body {
   margin: 0px;
   border: thick double #181617;
   background-color: #948470;
 }

 a[href] {
   text-decoration: none;
 }